
<div class="card" style="width: 18rem;">
  <img src='<%= @product.image_url %>' class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%=@product.title%></h5>
    <p class="card-text"><%=@product.description%></p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Add to cart</h5>
    <%=form_tag "", method: :post do%>
      <%=text_field_tag :quantity, 0 %>
      <button type="submit" class="btn btn-primary">Add to cart</a>
    <% end -%>

  </div>
</div>